@model TutorApplication.Models.ViewModel.StudentViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
<script src="~/Scripts/jquery-1.8.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div class="row">

    <div class="span9">

        <div class="well">
            <h3>Fill Your Information</h3>
            <hr class="soft" />

          @using (Ajax.BeginForm("Index", "Student", new AjaxOptions { UpdateTargetId = "result"}))   

            {
                @Html.ValidationSummary(true)

    
                <div class="control-group">
                    <label class="control-label" for="inputFname">Name <sup>*</sup></label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputLname">Date of Birth <sup>*</sup></label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.DOB)
                        @Html.ValidationMessageFor(model => model.DOB)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Contact <sup>*</sup></label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Contact)
                        @Html.ValidationMessageFor(model => model.Contact)
                    </div>
                </div>	  
                <div class="control-group">
                    <label class="control-label">Gender <sup>*</sup></label>
                    <div class="controls">
                        @Html.RadioButtonFor(model => model.Gender, "Male", new { Checked = "checked" })Male
              @Html.RadioButtonFor(model => model.Gender, "Female")Female

           
                    </div>
                </div>
                <div class="control-group">
                  
                    <div class="controls">
                        @Html.HiddenFor(model => model.EmailId)
                     


                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Address <sup>*</sup></label>
                    <div class="controls">
                        @Html.TextAreaFor(model => model.Address)
                        @Html.ValidationMessageFor(model => model.Address)


                    </div>
                </div>
               
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="defaultBtn">@ViewBag.SaveText</button>
                    </div>
                </div>
                <div id="result" style="font-family: Verdana; color: green; font-weight: bold">

                </div>
		
		
    
   
            }

        </div>
    </div>
</div>
