@model TutorApplication.Models.ViewModel.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Login","Account",FormMethod.Post)) 
{
    @Html.ValidationSummary(true)

    
    <div class="row">
		 @*@Html.Partial("_Signup")*@
		
		<div class="span4">
			<div class="well">
			<h5>ALREADY REGISTERED ?</h5>
			<form>
			  <div class="control-group">
				<label class="control-label" for="inputEmail">Email</label>
				<div class="controls">
				   @Html.TextBoxFor(model => model.EmailId)
            @Html.ValidationMessageFor(model => model.EmailId)
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="inputPassword">Password</label>
				<div class="controls">
				 @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
				</div>
			  </div>
			  <div class="control-group">
				<div class="controls">
				  <button type="submit" class="defaultBtn">Sign in</button> <a href="~/Account/ForgetPassword">Forget Password</a>
				</div>
			  </div>
			</form>
		</div>
		</div>
	</div>	
}

    
    
    
    
    
    