@model IEnumerable<TutorApplication.Models.ViewModel.ScheduleViewModel>

<p>
   
</p>
<table class="table table-hover">
    <tr>
        <th>
            SN
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TutorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

 
@foreach (var item in Model)
{
    <tr>
        <td>
         @Html.DisplayFor(modelItem => item.ScheduleId)
        
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TutorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
           
            @Html.ActionLink("Delete", "Delete", new { id=item.ScheduleId })
        </td>
    </tr>
}

</table>
