@model TutorApplication.Models.ViewModel.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<div class="row">

    <div class="span9">

        <div class="well">
            <h3>Change Password</h3>
            <hr class="soft" />

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    

    
        <div class="editor-label">
           Old Password
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model=>model.OldPassword)
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmNew)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmNew)
            @Html.ValidationMessageFor(model => model.ConfirmNew)
        </div>

      

        <p>
            <input type="submit" value="Change Password" />
        </p>
    @ViewBag.Message
}

</div>
        </div>
    </div>